:root{
  --bg-color-main :#000000;

  --color-sky :#008bfd;
  --color-magenta :#ec17e8;
  --color-violet :#8869ff;
  --color-lavender :#b2b5fe;
  --color-aqua :#56cce1;

  --txt-color-t :#ffffff;
  --txt-color-p :#AEAEAE;
}

