---
import IconCloudinary from "@assets/icons/IconCloudinary.astro";
import IconCss from "@assets/icons/IconCss.astro";
import IconExpressjs from "@assets/icons/IconExpressjs.astro";
import IconFigma from "@assets/icons/IconFigma.astro";
import IconGit from "@assets/icons/IconGit.astro";
import IconGithub from "@assets/icons/IconGithub.astro";
import IconHtml5 from "@assets/icons/IconHtml5.astro";
import IconIntellijidea from "@assets/icons/IconIntellijidea.astro";
import IconJava from "@assets/icons/IconJava.astro";
import IconJavascript from "@assets/icons/IconJavascript.astro";
import IconJest from "@assets/icons/IconJest.astro";
import IconMongodb from "@assets/icons/IconMongodb.astro";
import IconNodejs from "@assets/icons/IconNodejs.astro";
import IconPrettier from "@assets/icons/IconPrettier.astro";
import IconReact from "@assets/icons/IconReact.astro";
import IconReactrouter from "@assets/icons/IconReactrouter.astro";
import IconSass from "@assets/icons/IconSass.astro";
import IconSpring from "@assets/icons/IconSpring.astro";
import IconTailwindcss from "@assets/icons/IconTailwindcss.astro";
import IconTypescript from "@assets/icons/IconTypescript.astro";
import IconVercel from "@assets/icons/IconVercel.astro";
import IconVitejs from "@assets/icons/IconVitejs.astro";
import IconVitest from "@assets/icons/IconVitest.astro";
import IconVscode from "@assets/icons/IconVscode.astro";
import IconZod from "@assets/icons/IconZod.astro";
import IconZustand from "@assets/icons/IconZustand.astro";
---

<section class="ctn-home-tech">
  <div class="home-tech__overlay"></div>
  <div class="home-tech__title-ctn">
    <h2 class="home-tech__title-txt">Tecnologías detrás de mis Proyectos</h2>
  </div>

  <div class="home-tech__sliders-general-ctn">
    <article
      id="slider-one"
      class="home-tech__slider"
      style="
        --quantity : 10;
      "
    >
      <ul id="slider-one-list" class="home-tech__slider-list">
        <li class="home-tech__slider-item">
          <IconHtml5 />
        </li>
        <li class="home-tech__slider-item">
          <IconCss />
        </li>
        <li class="home-tech__slider-item">
          <IconJavascript />
        </li>
        <li class="home-tech__slider-item">
          <IconReact />
        </li>
        <li class="home-tech__slider-item">
          <IconTypescript />
        </li>
        <li class="home-tech__slider-item">
          <IconNodejs />
        </li>
        <li class="home-tech__slider-item">
          <IconExpressjs />
        </li>
        <li class="home-tech__slider-item">
          <IconJava />
        </li>
        <li class="home-tech__slider-item">
          <IconSpring />
        </li>
        <li class="home-tech__slider-item">
          <IconMongodb />
        </li>
      </ul>
      <ul id="slider-one-list" class="home-tech__slider-list">
        <li class="home-tech__slider-item">
          <IconHtml5 />
        </li>
        <li class="home-tech__slider-item">
          <IconCss />
        </li>
        <li class="home-tech__slider-item">
          <IconJavascript />
        </li>
        <li class="home-tech__slider-item">
          <IconReact />
        </li>
        <li class="home-tech__slider-item">
          <IconTypescript />
        </li>
        <li class="home-tech__slider-item">
          <IconNodejs />
        </li>
        <li class="home-tech__slider-item">
          <IconExpressjs />
        </li>
        <li class="home-tech__slider-item">
          <IconJava />
        </li>
        <li class="home-tech__slider-item">
          <IconSpring />
        </li>
        <li class="home-tech__slider-item">
          <IconMongodb />
        </li>
      </ul>
    </article>
    <article
      id="slider-two"
      class="home-tech__slider"
      style="
        --quantity : 16; 
      "
    >
      <ul data-reverse="true" class="home-tech__slider-list">
        <li class="home-tech__slider-item">
          <IconVitejs />
        </li>

        <li class="home-tech__slider-item">
          <IconJest />
        </li>

        <li class="home-tech__slider-item">
          <IconVitest />
        </li>

        <li class="home-tech__slider-item">
          <IconZod />
        </li>

        <li class="home-tech__slider-item">
          <IconTailwindcss />
        </li>

        <li class="home-tech__slider-item">
          <IconSass />
        </li>

        <li class="home-tech__slider-item">
          <IconReactrouter />
        </li>

        <li class="home-tech__slider-item">
          <IconZustand />
        </li>

        <li class="home-tech__slider-item">
          <IconPrettier />
        </li>

        <li class="home-tech__slider-item">
          <IconGit />
        </li>

        <li class="home-tech__slider-item">
          <IconGithub />
        </li>

        <li class="home-tech__slider-item">
          <IconVscode />
        </li>

        <li class="home-tech__slider-item">
          <IconIntellijidea />
        </li>

        <li class="home-tech__slider-item">
          <IconFigma />
        </li>

        <li class="home-tech__slider-item">
          <IconVercel />
        </li>

        <li class="home-tech__slider-item">
          <IconCloudinary />
        </li>
      </ul>
      <ul aria-hidden="true" data-reverse="true" class="home-tech__slider-list">
        <li class="home-tech__slider-item">
          <IconVitejs />
        </li>

        <li class="home-tech__slider-item">
          <IconJest />
        </li>

        <li class="home-tech__slider-item">
          <IconVitest />
        </li>

        <li class="home-tech__slider-item">
          <IconZod />
        </li>

        <li class="home-tech__slider-item">
          <IconTailwindcss />
        </li>

        <li class="home-tech__slider-item">
          <IconSass />
        </li>

        <li class="home-tech__slider-item">
          <IconReactrouter />
        </li>

        <li class="home-tech__slider-item">
          <IconZustand />
        </li>

        <li class="home-tech__slider-item">
          <IconPrettier />
        </li>

        <li class="home-tech__slider-item">
          <IconGit />
        </li>

        <li class="home-tech__slider-item">
          <IconGithub />
        </li>

        <li class="home-tech__slider-item">
          <IconVscode />
        </li>

        <li class="home-tech__slider-item">
          <IconIntellijidea />
        </li>

        <li class="home-tech__slider-item">
          <IconFigma />
        </li>

        <li class="home-tech__slider-item">
          <IconVercel />
        </li>

        <li class="home-tech__slider-item">
          <IconCloudinary />
        </li>
      </ul>
    </article>
  </div>

  <div class="home-tech__paragraph-ctn">
    <p class="home-tech__paragraph-txt">
      Lo aprendido es solo el comienzo, aún queda mucho por recorrer
    </p>
  </div>
</section>

<style>
  .ctn-home-tech {
    width: 100%;
    min-height: 100dvh;

    background-color: var(--bg-color-main);
    overflow: hidden;

    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    position: sticky;
    top: 0;
    z-index: 30;
  }

  .home-tech__overlay {
    position: absolute;
    inset: 0;
    z-index: -1;

    background-image: url(../assets/gradients/home-gradient-tech-sm.svg);
    background-position: center;
    background-size: cover;
    opacity: 0.6;
  }

  .home-tech__title-txt {
    color: var(--txt-color-t);
    font-size: 30px;
    font-weight: 500;
    text-align: left;
    text-wrap: pretty;
  }

  .home-tech__sliders-general-ctn {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .home-tech__slider {
    width: 100%;
    display: inline-flex;
    position: relative;
  }

  .home-tech__slider::after {
    content: "";
    width: calc(100% + 48px);
    height: 1px;

    position: absolute;
    margin-inline: auto;
    left: -24px;
    bottom: 0;

    background-image: linear-gradient(
      90deg,
      hsla(0, 0%, 56%, 0.171) 0%,
      hsl(344deg 0% 88%) 28%,
      hsl(300deg 100% 100%) 52%,
      hsl(344deg 0% 88%) 76%,
      hsla(0, 0%, 56%, 0.171) 100%
    );

    opacity: 0.8;
  }
  .home-tech__slider-list {
    list-style: none;

    --width: 40px;
    --height: 40px;
    --i-gap: 50px;

    width: 100%;
    min-width: calc(
      var(--width) * var(--quantity) + (var(--quantity) * var(--i-gap))
    );
    display: flex;
    gap: var(--i-gap);

    animation: infinite-slider 28s linear infinite;

    padding-bottom: 24px;
  }
  [data-reverse] {
    animation-name: infinite-slider-reverse;
    animation-duration: 40s;
  }

  .home-tech__slider:hover {
    .home-tech__slider-list {
      animation-play-state: paused;
    }
  }

  .home-tech__slider-item {
    width: var(--width);
    height: var(--height);

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .home-tech__paragraph-ctn {
    display: flex;
    justify-content: center;
  }
  .home-tech__paragraph-txt {
    width: 338px;
    color: var(--txt-color-p);
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    text-wrap: pretty;
  }

  @keyframes infinite-slider {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(
        calc(
          (var(--width) * var(--quantity) + (var(--quantity) * var(--i-gap))) *
            -1
        )
      );
    }
  }

  @keyframes infinite-slider-reverse {
    0% {
      transform: translateX(
        calc(
          (var(--width) * var(--quantity) + (var(--quantity) * var(--i-gap))) *
            -1
        )
      );
    }
    100% {
      transform: translateX(0px);
    }
  }

  /* MEDIA QUERIES*/
  @media screen and (width >= 700px) {
    .home-tech__overlay {
      background-image: url(../assets/gradients/home-gradient-tech-md.svg);
    }

    .ctn-home-tech {
      padding-inline: 34px;
      padding-bottom: 40px;
    }

    .home-tech__slider::after {
      height: 1.5px;

      background-image: linear-gradient(
        90deg,
        hsla(0, 0%, 56%, 0.041) 0%,
        hsl(344deg 0% 88%) 28%,
        hsl(300deg 100% 100%) 52%,
        hsl(344deg 0% 88%) 76%,
        hsla(0, 0%, 56%, 0.041) 100%
      );

      opacity: 0.8;
    }

    .home-tech__paragraph-ctn {
      display: flex;
      justify-content: left;
    }
    .home-tech__paragraph-txt {
      text-align: left;
    }

    .home-tech__title-ctn {
      display: flex;
      justify-content: center;
    }
    .home-tech__title-txt {
      text-align: center;
      font-size: 40px;
      width: 400px;
    }

    .home-tech__sliders-general-ctn {
      gap: 70px;
    }

    .home-tech__slider-list {
      --width: 58px;
      --height: 58px;
      --i-gap: 80px;

      padding-bottom: 28px;
    }

    .home-tech__paragraph-txt {
      width: 430px;
      font-size: 24px;
    }
  }
  @media screen and (width >= 1200px) {
    .home-tech__overlay {
      background-image: url(../assets/gradients/home-gradient-tech-lg.svg);
    }

    .ctn-home-tech {
      padding-inline: 80px;
    }

    .home-tech__title-txt {
      font-size: 50px;
      width: 500px;
    }

    .home-tech__sliders-general-ctn {
      gap: 100px;
    }

    .home-tech__slider-list {
      --width: 68px;
      --height: 68px;
      --i-gap: 100px;

      padding-bottom: 40px;
    }

    .home-tech__paragraph-txt {
      text-align: left;
      width: 540px;
      font-size: 30px;
    }
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  const overlayAnimation = gsap.from(".home-tech__overlay", {
    opacity: 0,
    duration: 2,
    ease: "power2.inOut",
  });

  ScrollTrigger.create({
    trigger: ".ctn-home-tech",
    animation: overlayAnimation,
    toggleActions: "play reverse play reverse",
    start: "10% 30% ",
    end: "100% 40%",
  });

  const timeline = gsap
    .timeline()

    .from(".home-tech__title-txt", {
      opacity: 0,
      x: 25,
      ease: "sine",
      duration: 0.8,
    })
    .from(".home-tech__paragraph-txt", {
      opacity: 0,
      y: 30,
      ease: "back",
      duration: 0.8,
    });

  ScrollTrigger.create({
    trigger: ".ctn-home-tech",
    animation: timeline,
    toggleActions: "play reverse play reverse",
    start: "top 30% ",
    end: "100% 90%",
  });
</script>
